#header {
  font-family: "Kulim Park", sans-serif;
}

#navbar {
  font-family: "Kulim Park", sans-serif;
}

#name {
  font-family: "Kameron", sans-serif;
}

#isi {
  font-family: "Kodchasan", sans-serif;
}

#header-about {
  font-family: "Inter", sans-serif;
}

#introduce {
  font-family: "Poppins", sans-serif;
}

#skill h1 {
  font-family: "Mukta Mahee", sans-serif;
}

#rectanggle {
  align-content: center;
}

#after-line {
  font-family: "Kodchasan", sans-serif;
}

#heading-what-i-do {
  font-family: "Kantumruy Pro", sans-serif;
}

#io-what-i-do {
  font-family: "Poppins", sans-serif;
}

#heading-project {
  font-family: "Mukta Mahee", sans-serif;
}

#bio-project {
  font-family: "Poppins", sans-serif;
}

#contact-us {
  font-family: "Inter", sans-serif;
}

#contact {
  font-family: "Kanit", sans-serif;
}